<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Weightlifting Management System</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" href="static/css/main.css" th:href="@{/css/main.css/}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/datepicker.css}" />
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Weightlifting Management</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#new-competition-modal">New competition</a></li>
          <li><a th:href="@{/club/new-lifter}">Register lifter</a></li>
          <li><a href="#">View past results</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div layout:fragment="content"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="new-competition-modal" tabindex="-1" role="dialog" aria-labelledby="competitionModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Choose competition type</h4>
          </div>
          <div class="modal-body clearfix">
            <div class="col-md-6 col-md-offset-3">
              <a th:href="@{/competition/sinclair/new}" class="btn btn-success">Sinclair</a>
              <a th:href="@{/competition/weightclass/new}" class="btn btn-success">Weight classes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/app.js}"></script>
  </body>
</html>
