<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Nav Buttons</title>
</head>
<body>
<div th:fragment="competition-navigation-buttons">
    <a class="btn btn-default" href="./participants" role="button">View Participants</a>
    <a th:class="'btn btn-default' + (${competition.isSignUpOpen()}? '' : ' disabled')" href="./sign-up" role="button">Sign-Up</a>
    <a th:class="'btn btn-default' + (${competition.isWeighInStarted()}? '' : ' disabled')" href="./weigh-in" role="button">Weigh-In</a>
    <a th:class="'btn btn-default' + (${competition.isCompetitionStarted()}? '' : ' disabled')" href="./dashboard" role="button">Dashboard</a>
    <a th:class="'btn btn-default' + (${competition.isWeighInComplete()}? '' : ' disabled')" href="./groups" role="button">View Groups</a>
    <a th:class="'btn btn-default' + (${competition.isCompetitionComplete()}? '' : ' disabled')" href="./results" role="button">View Results</a>
</div>

</body>
</html>