<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <title>Weightlifting Management System</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <h1>Create a new lifter</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="birthday">Date of birth: </label>
                    <div class="input-group">
                        <input type="text" name="birthday" id="birthday" placeholder="01-01-2010" class="form-control" />
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="male">
                        Male:
                        <input type="radio" name="male" id="male" />
                    </label>
                    <label for="female">
                        Female:
                        <input type="radio" name="female" id="female" />
                    </label>
                </div>
                <input type="submit" value="Create lifter" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lotte Selnø</td>
                        <td>F</td>
                        <td>01-01-2010</td>
                    </tr>
                    <tr>
                        <td>Nicklas Jørgensen</td>
                        <td>M</td>
                        <td>01-01-2010</td>
                    </tr>
                    <tr>
                        <td>Mikkel Mørch</td>
                        <td>M</td>
                        <td>01-01-2010</td>
                    </tr>
                    <tr>
                        <td>Robin Larsen</td>
                        <td>M</td>
                        <td>01-01-2010</td>
                    </tr>
                    <tr>
                        <td>Frederik Nygart</td>
                        <td>M</td>
                        <td>01-01-2010</td>
                    </tr>
                    <tr>
                        <td>Dan Meakin</td>
                        <td>M</td>
                        <td>01-01-2010</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>