<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>Weigh in</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-5">
                <form class="form" action="javascript:void(0);">
                    <table class="table table-front">
                        <thead>
                        <tr>
                            <th>X</th>
                            <th>id</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th>Weight</th>
                            <th>Snatch</th>
                            <th>Clean&amp;Jerk</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${participants}" th:if="${!p.checkedIn}">
                            <td>
                                <input class="checkbox" th:id="'participant-checkbox-' + ${p.id}" type="checkbox" name="participantChecked" th:checked="${p.checkedIn}" />
                            </td>
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.fullName}"></td>
                            <td th:text="${p.clubName}"></td>
                            <td th:text="${p.bodyWeight}"></td>
                            <td>
                            </td>
                            <!--  <td th:text="${p.startingSnatchWeight}"></td> -->
                            <!-- <td th:text="${p.startingCleanAndJerkWeight}"></td> -->
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-md-2"/>
            <div class="col-md-5">
                <form class="form" action="">
                    <table class="table table-front">
                        <thead>
                        <tr>
                            <th>X</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th>Weight</th>
                            <th>Snatch</th>
                            <th>Clean&amp;Jerk</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${participants}" th:if="${p.checkedIn}">
                            <td>
                                <input class="checkbox" th:id="'participant-checkbox-' + ${p.id}" type="checkbox" name="participantChecked" th:checked="${p.checkedIn}" />
                            </td>
                            <td th:text="${p.fullName}"></td>
                            <td th:text="${p.clubName}"></td>
                            <td th:text="${p.bodyWeight}"></td>
                            <!--  <td th:text="${p.startingSnatchWeight}"></td> -->
                            <!-- <td th:text="${p.startingCleanAndJerkWeight}"></td> -->
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success">Start competition</button>
        </div>
        <script>
            $(document).ready(function () {

                /**
                 * Checks if checkbox is checked or unchecked
                 * @param id
                 * @returns {*}
                 */
                function isChecked(id){
                    if($("#participant-checkbox-" + id).is(":checked")){
                        return "checked";
                    } else if(!$("#participant-checkbox-" + id).is(":checked")){
                        return "unchecked";
                    }
                }

               $(".checkbox").on("change", function(event){
                   var pathElems = event.target.id.split("-");
                   var url = window.location.href;

                   var requestHeader = {
                       participantID: "" + pathElems[2],
                       action: "" + isChecked(pathElems[2])
                   }

                   $.post(url + "/", requestHeader, function(data){
                       location.reload();
                   });
               });
            });

        </script>
    </div>
</body>
</html>