<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="layouts/main">
<head>
    <title>Weightlifting Management System</title>
</head>
<body>

<div layout:fragment="content">
  <div class="row">
    <div class="col-md-4" th:include="fragments/participant-info :: participant-info"/>
    <div class="col-md-4"/>
    <div class="col-md-4" th:include="fragments/lift-register-form :: register-lift" />
  </div>

  <div class="col-md-12">
    <table class="table table-hover table-competition">
      <thead>
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">Name</th>
          <th rowspan="2">Sex</th>
          <!--<th rowspan="2">DoB</th>-->
          <th rowspan="2">Club</th>
          <!--<th rowspan="2">BW</th>-->
          <th class="center-heading" colspan="4">Snatch</th>
          <th class="center-heading" colspan="4">Clean&amp;Jerk</th>
          <th rowspan="2">Total</th>
          <th rowspan="2">Sinclair</th>
          <th rowspan="2">Ranking</th>
        </tr>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>Best</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>Best</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="p : ${participants}">
          <td th:text="${p.id}">Lifter no</td>
          <td th:text="${p.fullName}">Lifter name</td>
          <td th:text="${p.genderInitial}">M</td>
          <!--<td th:text="${p.dateOfBirthString}">Date of birth</td>-->
          <td th:text="${p.clubName}">AK Jyden</td>
          <!--<td th:text="${p.bodyWeight}">Bodyweight</td>-->
          <td th:each="l : ${p.snatchLifts}"
              th:text="${l.isAbstained()}? '-' : ${l.weight}"
              th:class="${l.outcome.toString().toLowerCase()} + '-lift'" />
          <td th:if="${p.snatchesRemaining > 0}"
              th:each="i : ${#numbers.sequence(1, p.snatchesRemaining)}"
              class="incomplete-lift"></td>
          <td class="best-lift" th:text="${p.bestSnatch}"></td>
          <td th:each="l : ${p.cleanAndJerkLifts}"
              th:text="${l.isAbstained()}? '-' : ${l.weight}"
              th:class="${l.outcome.toString().toLowerCase()} + '-lift'" />
          <td th:if="${p.cleanAndJerksRemaining > 0}"
              th:each="i : ${#numbers.sequence(1, p.cleanAndJerksRemaining)}"
              class="incomplete-lift"></td>
          <td class="best-lift" th:text="${p.bestCleanAndJerk}"></td>
          <td th:text="${p.bestTotal}"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>