<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <h3>Correct Lift Weight</h3>
    <p th:text="${msg}"></p>

    <form action="/competition/correct-lift/" method="post" th:object="${lift}" >
        <p th:text="'Lifter: ' + *{participant}"></p>
        <p th:text="'Lift type: ' + *{liftType}"></p>
        <input type="hidden" th:field="*{id}" name="liftID"/>
        <p><input type="text" th:field="*{weight}" /></p>
        <input type="submit" value="CORRECT" name="action"/>
    </form>
</body>
</html>