<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
    <meta charset="UTF-8" />
    <title>Weightlifting Management System</title>
</head>
<body>

    <div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <h1>Upcoming competitions</h1>
            <div class="alert alert-success">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eius, reiciendis, est non corporis id dolor, sit similique commodi dolores nemo veniam quaerat ratione nobis. Nemo labore blanditiis aliquid tenetur!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Your competitions</h2>
            <table class="table table-front">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="date">Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="name">AL Bank Cup</td>
                    <td class="type">Sinclair</td>
                    <td class="date">07-10-2016</td>
                    <td><span class="label label-warning">Edit</span> <span class="label label-primary">View</span> <span class="label label-success">Start</span></td>
                </tr>
                <tr>
                    <td class="name">AL Bank Cup</td>
                    <td class="type">Sinclair</td>
                    <td class="date">07-10-2016</td>
                    <td><span class="label label-warning">Edit</span> <span class="label label-primary">View</span> <span class="label label-success">Start</span></td>
                </tr>
                <tr>
                    <td class="name">AL Bank Cup</td>
                    <td class="type">Sinclair</td>
                    <td class="date">07-10-2016</td>
                    <td><span class="label label-warning">Edit</span> <span class="label label-primary">View</span> <span class="label label-success">Start</span></td>
                </tr>
                <tr>
                    <td class="name">AL Bank Cup</td>
                    <td class="type">Sinclair</td>
                    <td class="date">07-10-2016</td>
                    <td><span class="label label-warning">Edit</span> <span class="label label-primary">View</span> <span class="label label-success">Start</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Other competitions</h2>
            <table class="table table-front">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="date">Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="name">Gotha</td>
                    <td class="type">Weight classes</td>
                    <td class="date">01-12-2016</td>
                    <td><span class="label label-primary">View</span></td>
                </tr>
                <tr>
                    <td class="name">Gotha</td>
                    <td class="type">Weight classes</td>
                    <td class="date">01-12-2016</td>
                    <td><span class="label label-primary">View</span></td>
                </tr>
                <tr>
                    <td class="name">Gotha</td>
                    <td class="type">Weight classes</td>
                    <td class="date">01-12-2016</td>
                    <td><span class="label label-primary">View</span></td>
                </tr>
                <tr>
                    <td class="name">Gotha</td>
                    <td class="type">Weight classes</td>
                    <td class="date">01-12-2016</td>
                    <td><span class="label label-primary">View</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

</body>
</html>